
*{
    box-sizing:border-box;
    margin: 0px;
}

body {
    
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
    text-align :center;
}
.container{

    margin: 100px auto 100px;
  width: 80%;
  text-align: center;

}


.button{
    width:100px;
    height:100px;
    display: inline-block;
    border:solid black 2px;
}


#grey{
    background-color: grey;
}

#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}

